{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Post - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/noticia.css'%}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/acerca_de">Acerca de</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/noticias">Noticias</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/contacto">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{articulo.titulo}}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Publicado {{ articulo.fecha|date:"l, j \d\e F \a \l\a\s H:i" }} por {{articulo.usuario.user.username}}</div>
                            <!-- Post categories-->
                            <div class="d-flex justify-content-between">
                                <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{articulo.categoria.nombre}}</a>
                                <div>
                                    {% if articulo.usuario.user.id == request.user.id %}
                                    <button class="btn btn-outline-primary" onclick="editarArticulo()">Editar Articulo</button>
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="accion" value="eliminar-noticia">
                                        <button class="btn btn-outline-danger" type="submit">Eliminar</button>
                                    </form>
                                    {% endif %}
                                    <script>
                                        function editarArticulo(){
                                            window.location.href = "/editar_noticia/{{ articulo.id }}"
                                        }
                                    </script>
                                </div>
                            </div>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{ articulo.imagen.url }}" alt="{{ articulo.titulo }}" /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{articulo.contenido}}</p>
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4" method="post">
                                    {% csrf_token %}
                                    <textarea name="contenido" class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
                                    <input type="hidden" name="accion" value="comentar">
                                    <button class="btn btn-primary" type="submit">Comentar</button>
                                </form>
                                <!-- Comment with nested comments-->
                                <!-- Single comment-->
                                {% for comentario in comentarios %}
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        {% if usuario.imagen %}
                                            <img class="rounded-circle" src="{{ usuario.imagen.url }}" alt=".." style="width: 50px; height: 50px;" />
                                        {% else %}
                                            <img class="rounded-circle" src="{% static 'img/default-profile.png' %}" alt=".." style="width: 50px; height: 50px;" />
                                        {% endif %}
                                    </div>
                                    <div class="ms-3">
                                        <div class="fw-bold">{{comentario.usuario.user.username}}</div>
                                        <textarea class="form-control" name="contenido-{{comentario.id}}" id="comentario-{{comentario.id}}" style="resize: none;" readonly>{{ comentario.contenido }}</textarea>
                                        {% if comentario.usuario.user.id == request.user.id %}
                                        <div class="btn-group btn-group-sm" role="group">
                                            <button class="btn btn-primary" id="boton-editar1-{{comentario.id}}" onclick="editarComentario_{{comentario.id}}()">Editar</button>
                                            <form method="post" id="editar">
                                                {% csrf_token %}
                                                <input type="hidden" name="accion" value="editar">
                                                <input type="hidden" name="comentario_id" value="{{ comentario.id }}">
                                                <input type="hidden" name="contenido" value="" id="contenido">
                                                <button id="boton-editar2-{{comentario.id}}" class="btn btn-primary" style="display: none;" onclick="enviar_{{comentario.id}}()">Editar</button>
                                            </form>
                                            <form method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="accion" value="eliminar">
                                                <input type="hidden" name="comentario_id" value="{{ comentario.id }}">
                                                <button class="btn btn-danger" type="submit">Eliminar</button>
                                            </form>
                                            <script>
                                                function editarComentario_{{comentario.id}}(){
                                                    document.getElementById("comentario-{{comentario.id}}").readOnly = false;
                                                    document.getElementById("boton-editar1-{{comentario.id}}").style.display = "none";
                                                    document.getElementById("boton-editar2-{{comentario.id}}").style.display = "block";
                                                }
                                                function enviar_{{comentario.id}}(){
                                                    input = document.getElementById("contenido");
                                                    input.value = document.getElementById("comentario-{{comentario.id}}").value;
                                                    document.getElementById("editar").submit();
                                                }
                                            </script>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; 2023 | Todos los derechos reservados</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
